<!-- <h1>Hello Angular i am in {{city.toUpperCase()}}</h1> -->
<app-user></app-user>
<!-- <router-outlet /> -->

<div>
    <h1>what about this</h1>
    <article>
        <p>
            English is the language of our international communication in all areas, such as politics, science, media or art and it is often 
            the language of entertainment as well as socialising. Having a good command of English helps us to have more opportunities in life, 
            first of all, our career.
        </p>
        <p>Therefore, it is highly likely that if you meet someone from another country, you will both be able to speak English. 
            It gives you an open door to the world and helps you communicate with global citizens.</p>
    </article>
</div>

@defer( on viewport) {
    <app-comments></app-comments>
} @placeholder {
    <p>New Comments</p>
} @loading {
    <p>Loading comments</p>
}
